<section id="edit-container">
    <div class="edit-container-info">
        <h1>Edit Course</h1>
        <form>
            <label>Title:</label>
            <input name="" type="text" id="title" value="Classroom Management Essentials">

            <label>Type:</label>
            <input name="" type="text" id="type" value="Management">

            <label>Certificate:</label>
            <input name="" type="text" id="certificate" value="Yes">

            <label>Image:</label>
            <input name="" type="text" id="image" placeholder="http://..." value="https://cdn.pixabay.com/photo/2020/08/09/14/25/business-5475660_1280.jpg">

            <label>Description:</label>
            <textarea id="content" name="">Learn how to manage your classroom and spend more time teaching rather than disciplining</textarea>

            <label>Price:</label>
            <input name="" type="number" id="price" value="25">

            <input type="submit" id="btn" value="Edit">
        </form>
    </div>
</section>
