<div class="register-box">
    <h1>Register</h1>
    <form method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username.." {{#if data.username}} value="{{data.username}}"{{/if}}>
        <label for="email">Email</label>
        <input type="text" name="" id="email" placeholder="Email.." {{#if data.email}} value="{{data.email}}"{{/if}}>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password..">
        <label for="repass">Confirm Password</label>
        <input type="password" name="repass" id="repass" placeholder="Confirm Password..">
        <input type="submit" value="Submit">
    </form>
    <p>Already have an account? <a href="/login">Login here</a></p>
</div>
